* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-feature-settings: 'palt';
  font-kerning: normal;
  position: relative;
  hyphens: auto;
  line-break: strict;
  font-family: 'Noto Sans JP', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  @include font($fontSize: 16px, $weight: 400, $style: normal, $kerning: 0, $lineheight: 1.5 );
}

.pc-only {
  @include sp {
    display: none !important;
  }
  @include pc {
    display: inherit;
  }
}

.sp-only {
  @include sp {
    display: inherit;
  }
  @include pc {
    display: none !important;
  }
}