.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include pc {
    padding: 0 40px 0 80px;
  }

  @include sp {
    padding-left: 20px;
  }

  &__logo {

    @include pc {
      width: 200px;
    }

    @include sp {
      width: 150px;
    }

    img {
      width: 100%;
    }
  }

  &__menu {

    ul {
      display: flex;
      align-items: center;

      @include pc {
        padding-right: 20px;
      }

      li {
        list-style: none;
        margin-left: 30px;

        a {
          position: relative;
          @include font($fontSize: 14px, $weight: 400, $style: normal, $kerning: 0, $lineheight: 1.5);
          color: $text-color;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 0%;
            height: 2px;
            background: $main-color;
            z-index: 2;
            transition: all 0.4s;
          }

          &:hover {
            text-decoration: none;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    &__book {
      background: $main-color;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 45px;
      border: 1px solid $main-color;
      border-radius: 50px;
      transition: .3s;

      &:hover {
        background: $white;

        a {
          color: $main-color;
        }
      }

      a {
        position: relative;
        @include font($fontSize: 14px, $weight: 400, $style: normal, $kerning: 0, $lineheight: 1.5);
        color: $white;
      }
    }
  }
}



.hamburger_btn {
  display: block;
}

.hamburger_btn {
  position: fixed;
  /*.headerNavOuterを基準にして、絶対配置*/
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 30;
}

.l-header-sp {
  display: block;
  position: fixed;
  right: -100vw;
  /*右側に隠しておきます*/
  top: 0;
  height: 100vh;
  background-color: $white;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 20;
  overflow-y: auto;
  width: 100vw;
  padding: 100px 50px 70px;


  ul {
    li {
      list-style: none;
      padding: 10px 0;

      a {
        display: flex;
        align-items: center;
        @include font($fontSize: 18px, $weight: 700, $style: normal, $kerning: 0, $lineheight: 1.5);
        color: $text-color;

      }
    }
  }
}

.hamburger_line {
  position: absolute;
  /*.headerNavOuterを基準にして、絶対配置*/
  height: 2px;
  background-color: $text-color;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 25px;
  left: 20px;
}

.hamburger_line_1 {
  top: 30px;
}

.hamburger_line_2 {
  top: 40px;
}

.hamburger_line_3 {
  top: 50px;
}

/* End ハンバーガーボタン(三本線の実装) */

/* Start ハンバーガーボタンをクリックした際の動き */
/* ナビゲーションが現れる */
.nav-open .l-header-sp {
  right: 0;
}

/* 三本線のハンバーガーを、バッテンにします */
.nav-open .hamburger_line_1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 40px;
  width: 25px;
}

.nav-open .hamburger_line_2 {
  width: 0;
  left: 50%;
}

.nav-open .hamburger_line_3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 40px;
  width: 25px;
}

.nav-open .hamburger_btn {
  box-shadow: initial;
}

.nav-open .l-header__logo {
  position: relative;
  z-index: 31;
}

.nav-open .l-header__instagram {
  display: none;
}

/* End ハンバーガーボタンをクリックした際の動き */
/*
----------------------
End ハンバーガーメニュー
----------------------
*/
