.l-menu {
  background: $white;

  @include pc {
    padding: 48px 92px;
    display: flex;
    align-items: center;
  }

  @include sp {
    padding: 20px 30px 40px;
  }

  &__image {
    @include pc {
      width: 40%;
      margin-right: 5%;
    }

    img {
      width: 100%;

      @include pc {
        height: 30vw;
        object-fit: cover;
      }

      @include sp {
        height: 70vw;
        object-fit: cover;
      }
    }
  }

  &__texts {
    @include pc {
      width: 55%;
    }

    &__head {
      @include sp {
        margin-top: 20px;
      }

      h3 {
        color: $main-color;
        font-family: serif;

        @include pc {
          @include font($fontSize: 2rem, $weight: 700, $style: normal, $kerning: 100, $lineheight: 2);
        }

        @include sp {
          @include font($fontSize: 1.75rem, $weight: 700, $style: normal, $kerning: 100, $lineheight: 2);
        }
      }
    }

    &__how {
      @include pc {
        margin: 1.5em 0;
      }

      @include sp {
        margin: 1.5em 0;
      }

      span {
        color: $point-color;

        @include pc {
          @include font($fontSize: 1.5rem, $weight: 700, $style: normal, $kerning: 100, $lineheight: 2);
        }

        @include sp {
          @include font($fontSize: 1.2rem, $weight: 700, $style: normal, $kerning: 100, $lineheight: 2);
        }
      }
    }

    &__detail {
      p {
        @include pc {
          margin: 1em 0;
          @include font($fontSize: 0.95rem, $weight: 400, $style: normal, $kerning: 100, $lineheight: 2.25);
        }

        @include sp {
          margin: 1em 0;
          @include font($fontSize: 0.95rem, $weight: 400, $style: normal, $kerning: 100, $lineheight: 2.25);
        }
      }
    }

    &__effective {
      h4 {
        color: $point-color;

        @include pc {
          @include font($fontSize: 1.25rem, $weight: 700, $style: normal, $kerning: 100, $lineheight: 2);
        }

        @include sp {
          @include font($fontSize: 1.25rem, $weight: 700, $style: normal, $kerning: 100, $lineheight: 2);
        }
      }

      &__tag {
        @include pc {
          padding-top: 10px;
        }

        @include sp {
          margin: 10px 0 20px;
        }

        span {
          display: inline-block;
          background: $back-color;
          padding: 10px 15px;
          margin-right: 5px;
          margin-bottom: 5px;

          @include pc {
            @include font($fontSize: 0.95rem, $weight: 400, $style: normal, $kerning: 100, $lineheight: 1);
          }

          @include sp {
            @include font($fontSize: 0.95rem, $weight: 400, $style: normal, $kerning: 100, $lineheight: 1);
          }
        }
      }
    }

    &__button {

      @include pc {
        width: 250px;
        margin-top: 30px;
      }
    }
  }
}
